.c-select{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    outline: none;
    &__input{
        background-color: rgba(182, 197, 206,0.2);
        display: flex;
        justify-content: space-between;
        padding: 8px 12px;
        border-radius: 4px;
        width: 100%;
        outline: none;
        height: 37px;
        cursor: pointer;
    }
    &__options-container{
        position: absolute;
        top: 59px;
        background-color: var(--color-light);
        box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
        border-radius: 8px;
        padding: 0px 18px;
        z-index: 101;
        width: 100%;
        max-height: 50vh;
        overflow-y: auto;
    }
    &__option{
        padding: 18px 0px;
        border-bottom: 1px solid var(--color-grey-light);
        cursor: pointer;
        width: 100%;
    }
    &__option:last-child{
        border-bottom: none;
    }
}