.c-typography{
        
}
.c-typography--h1{

}
.c-typography--h2{

}
.c-typography--h3{

}
.c-typography--h4{

}
.c-typography--h5{
    font-size: 26px;
}
.c-typography--h6{
    font-size: 23px;
}
.c-typography--subtitle1{

}
.c-typography--subtitle2{

}
.c-typography--body1{
    font-size: 16px;
}
.c-typography--body2{
    font-size: 14px;
}
.c-typography--caption{
    font-size: 10px;
}
.c-typography--button{

}
.c-typography--overline{

}

.c-typography--light{
    font-weight: light;
}
.c-typography--normal{
    font-weight: normal;
}
.c-typography--semi-bold{
    font-weight: 600;
}
.c-typography--bold{
    font-weight: bold;
}

.c-typography--primary{
    color: var(--color-primary);
}
.c-typography--secondary{
    color: var(--color-secondary);
}
.c-typography--text-primary{
    color: var(--color-dark);
}
.c-typography--text-secondary{
    color: var(--color-grey);
}
.c-typography--light{
    color: var(--color-light);
}
.c-typography--dark{
    color: var(--color-dark);
}
.c-typography--default{
    
}

.c-typography--underline{
    text-decoration: underline;
}
.c-typography--muted{
    color: var(--color-grey-light);
}