:root {
  --color-primary: #854dfa;
  --color-secondary: #fd4d8c;
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-info: #1919e6;
  --color-success: #00bf6f;
  --color-success-light: #5fe3ca;
  --color-grey: #57555b;
  --color-grey-light: #b6c5ce;
  --color-background: #f9f9f9;

  --side-bar-width: 85px;
  --header-height: 80px;
  --menu-options-width: 380px;
}
