.c-icon {
}
.c-icon--button {
  cursor: pointer;
}
.c-icon--primary {
  fill: var(--color-primary) !important;
}
.c-icon--secondary {
  fill: var(--color-secondary) !important;
}
.c-icon--light {
  fill: var(--color-light) !important;
}
.c-icon--dark {
  fill: var(--color-dark) !important;
}
.c-icon--info {
  fill: var(--color-info) !important;
}
.c-icon--success {
  fill: var(--color-success) !important;
}
.c-icon--success-light {
  fill: var(--color-success-light) !important;
}
.c-icon--text-secondary {
  fill: var(--color-grey) !important;
}

.c-icon--small {
  width: 12px;
  height: 12px;
}
.c-icon--medium {
  width: 24px;
  height: 24px;
}
.c-icon--large {
  width: 32px;
  height: 32px;
}
