.c-background-menu-options {
  &__header {
    padding: 13px 36px 13px 30px;
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
  }
  &__header-label {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &__content {
    padding: 28px 35px 28px 22px;
  }
  &__content-header {
    display: flex;
    flex-direction: column;
    padding-bottom: 18px;
    align-items: flex-end;
  }
  &__content-gallery {
    background-color: var(--color-light);
    padding: 18px 34px 18px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__content-gallery__color-container {
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__content-gallery__color {
    margin-top: 13px;
    width: 158px;
    height: 175px;
    border-radius: 8px;
    cursor: pointer;
  }
}
